@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Configurações gerais da página */
body {
    background-color: #2f3082; /* Define a cor de fundo do corpo da página */
    display: flex; /* Usa o modelo de layout flexível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    height: 100vh; /* Define a altura do corpo da página como 100% da altura da viewport */
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
    transition: .5s;
    margin: 10px 50px 50px 50px;
}

/* Estilos do cabeçalho */
header {
    padding: 10px; /* Adiciona preenchimento interno ao cabeçalho */
}

#sun {
    width: 20px;
    margin-top: 25px;
}

#moon {
    width: 20px;
    margin-left: 92px;
}

/* Estilos do contêiner principal */
.container {
    background-color: #e5e5ff; /* Define a cor de fundo do contêiner */
    padding: 40px; /* Adiciona preenchimento interno ao contêiner */
    border-radius: 5px; /* Adiciona borda arredondada ao contêiner */
    display: flex; /* Usa o modelo de layout flexível */
    transition: .5s;
}

/* Estilos do conteúdo à esquerda do contêiner */
.conteudo-esquerdo {
    width: 50%; /* Define a largura do conteúdo à esquerda como metade do contêiner */
    color: #303481; /* Define a cor do texto */
    padding-right: 20px; /* Adiciona preenchimento interno à direita */
}

/* Estilos para parágrafos dentro do conteúdo à esquerda */
.conteudo-esquerdo p {
    font-size: 14px; /* Define o tamanho da fonte */
    margin-bottom: 25px; /* Adiciona margem inferior aos parágrafos */
    margin-top: 35px;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 1px;
    transition: .5s;
    margin-right:30px;
    text-align: justify;
    line-height: 30px;
}

/* Estilos para imagens dentro do conteúdo à esquerda */
.conteudo-esquerdo img {
    width: 200px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da altura conforme a largura */
    transition: .5s;
    margin: 60px 190px;
}

/* Estilos para o formulário */
form {
    width: 400px; /* Define a largura do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Adiciona preenchimento interno ao formulário */
    border: 2px solid #007bff; /* Adiciona uma borda azul ao redor do formulário */
    border-radius: 10px; /* Adiciona borda arredondada ao formulário */
    position: relative; /* Permite o posicionamento absoluto de elementos filhos */
    transition: .5s;
    box-shadow: 0 5px 10px 5px #2f3082;
    margin-left: 40px;
}

h2 {
    letter-spacing: 2px;
    color: #007bff;
}

/* Estilos para o título do formulário */
h3 {
    margin-bottom: 90px; /* Adiciona uma margem inferior grande ao título */
    color: #007bff;
    text-align: center;
    transition: .5s;
    letter-spacing: 1px;
    font-family: "Patua One", serif;
    letter-spacing: 1px;
    line-height: 2px;
}

/* Estilos para os grupos de entrada (inputs) */
.input-group {
    margin-bottom: 30px; /* Adiciona margem inferior aos grupos de entrada */
    position: relative; /* Permite o posicionamento absoluto de rótulos */
}

/* Estilos para rótulos */
label {
    position: absolute; /* Permite o posicionamento absoluto */
    top: -19px; /* Desloca o rótulo para cima */
    left: 10px; /* Desloca o rótulo para a esquerda */
    /* Define a cor de fundo do rótulo */
    padding: 0 5px; /* Adiciona preenchimento ao redor do rótulo */
    color: #007bff; /* Define a cor do texto dos rótulos */
    transition: all 0.3s ease; /* Adiciona uma transição suave para animação */
}

/* Estilos para links */
a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    margin-top: 6px;
    transition: .5s;
    color: #007bff;
    font-family: "Noto Sans", sans-serif;
    
}

/* Estilos para o campo de senha */
.password-input {
    position: relative; /* Permite o posicionamento absoluto do ícone */
}

/* Estilos para o ícone de olho */
.password-toggle {
    position:absolute; /* Permite o posicionamento absoluto do ícone */
    top: 50%; /* Alinha o ícone verticalmente ao centro */
    right: 10px; /* Desloca o ícone para a direita */
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre o ícone */
}

/* Estilos para campos de texto, email e senha */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 380px; /* Define a largura dos campos de entrada */
    padding: 10px; /* Adiciona preenchimento interno aos campos de entrada */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor dos campos de entrada */
    border-radius: 5px; /* Adiciona borda arredondada aos campos de entrada */
}

/* Estilos para o grupo de botões */
.button-group {
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: space-between; /* Distribui os itens ao longo do eixo principal */
}

/* Estilos para botões de envio */
button[type="submit"] {
    background-color: #2f3082; /* Define a cor de fundo dos botões de envio */
    color: #fff; /* Define a cor do texto dos botões de envio */
    border: none; /* Remove a borda dos botões de envio */
    padding: 10px 20px; /* Adiciona preenchimento interno aos botões de envio */
    border-radius: 5px; /* Adiciona borda arredondada aos botões de envio */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre os botões */
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 1px;
}

/* Estilos para botões de envio quando passa o mouse */
button[type="submit"]:hover {
    background-color: #28285e; /* Altera a cor de fundo dos botões de envio quando passa o mouse */
}



/* dark theme */
.trilho {
    width: 70px;
    height:30px ;
    background-color: rgba(184, 180, 180, 0.753);
    border-radius: 40px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    border-top: 40px;
    margin-left: 30px;
    margin-top: -35px;
}

.trilho:hover {
  background-color:rgba(156, 154, 154, 0.753);
}

.trilho .indicador {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform: scale(.9);
    left: 5px;
    transition: .5s;
    
}

.trilho.dark {
    background-color: #4d4d4d;
}

.trilho.dark:hover {
    background-color:#424242;
}

.trilho.dark .indicador {
    left: 47px;
    background-color: #0c0c1b;
}

body.dark {
    background-color: #0c0c1b ;
}

body.dark .container {
    background-color: #191930;
}

body.dark h2 {
    color: #409cff;
}

body.dark h3 {
    color: #fff;
}

body.dark p {
    color: #fff;
}

body.dark a {
    color: #fff;
}


body.dark input {
    background-color: #fff;
}

body.dark form {
    background-color: #2f30824b;
    border-color: #fff;
    box-shadow: 0 5px 10px 5px #007bff;
}

body.dark label {
   border-radius: 5px;
   color: #92c5fc;
}

body.dark .conteudo-esquerdo img {
    background-color: #fff;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 0px 5px 5px 5px #007bff;
}

body.dark button {
    background-color: #007bff;
}

body.dark button:hover {
    background-color: #0666ce;
}

