/* Configurações gerais da página */
body {
    background-color: #2f3082; /* Define a cor de fundo do corpo da página */
    display: flex; /* Usa o modelo de layout flexível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    height: 100vh; /* Define a altura do corpo da página como 100% da altura da viewport */
}

* {
    font-family: 'Roboto';
}

/* Estilos do contêiner principal */
.container {
    width: 100%;
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.conteudo-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-esquerdo p {
    text-align: left;
}

/* Estilos para o formulário */

.formulario p {
    text-align: right;
    width: 100%;
    margin-bottom: calc(var(--spacing) * 8);
}

form {
    background-color: var(--background-section);
    padding: calc(var(--spacing) * 3); /* Adiciona preenchimento interno ao formulário */
    border-radius: 8px; /* Adiciona borda arredondada ao formulário */
}

h2 {
    color: var(--text-dark);
    font-size: 34px;
    text-align: left;
}

/* Estilos para o título do formulário */
h3 {
    margin: 0;
    margin-bottom: calc(var(--spacing) * 4);
    color: var(--text-dark);
    font-size: 24px;
}

/* Estilos para os grupos de entrada (inputs) */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--spacing) * 3); /* Adiciona margem inferior aos grupos de entrada */
}

/* Estilos para o campo de senha */
.password-input {
    position: relative; /* Permite o posicionamento absoluto do ícone */
}

/* Estilos para o ícone de olho */
.password-toggle {
    position: absolute; /* Permite o posicionamento absoluto do ícone */
    top: 62%; /* Alinha o ícone verticalmente ao centro */
    right: 10px; /* Desloca o ícone para a direita */
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
    cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre o ícone */
}

/* Estilos para campos de texto, email e senha */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: calc(var(--spacing) * 2); /* Adiciona preenchimento interno aos campos de entrada */
    border: 2px solid var(--primary); /* Adiciona uma borda ao redor dos campos de entrada */
    border-radius: 4px; /* Adiciona borda arredondada aos campos de entrada */
}

/* Estilos para o grupo de botões */
.button-group {
    display: flex; /* Usa o modelo de layout flexível */
    justify-content: space-between; /* Distribui os itens ao longo do eixo principal */
    align-items: center;
    margin-top: calc((var(--spacing) * 2));
}
