// import MUI colors
@import "../bower_components/mui/src/sass/mui/colors";

// customize MUI variables
$mui-primary-color:       #303481;
$mui-primary-color-dark:  #303481;
$mui-primary-color-light: #303481;

// import MUI SASS
@import "../bower_components/mui/src/sass/mui";
