:root {
    --spacing: 8px;
    --background-page: #E5E5FF;
    --background-section: #fff;
    --primary: #303481;
    --secondary: rgba(37, 13, 13, 0.15);
    --primary-darker: #252961;
}

body {
    background-color: var(--background-page);
    overflow: hidden;
}

.header {
    background-color: var(--background-section);
    margin-top: 16px;
    border-radius: 8px;
}

.family-section {
    background-color: var(--background-section);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--spacing) * 4);
    border-radius: 8px;
}

p {
    text-align: center;
    margin: 0;
}

.profile-section {
    background-color: var(--background-section);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
}

.profile-info {
    margin-top: 64px;
}

.image-background {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    height: 100px;
    width: 100%;
    position: relative;
    border-radius: 8px 8px 0 0;
}

.members-section {
    background-color: var(--background-section);
    border-radius: 8px;
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
}

.members-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

hr {
    margin: 8px 0;
}

.members-message-item p {
    text-align: left;
    margin-bottom: 0;
}

.members-message-item {
    margin-left: calc(var(--spacing) * 2);
}

.matches-section {
    background-color: var(--background-section);
    border-radius: 8px;
    padding: calc(var(--spacing) * 2);
}

.post-section {
    background-color: var(--background-section);
    border-radius: 8px;
    padding: calc(var(--spacing) * 2);
}

.post-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-description {
    padding: calc(var(--spacing) * 2) 0;
}

.post-image {
    border-radius: 8px;
    height: auto;
}

/* Margins helpers */

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.mt-1 {
    margin-top: calc(var(--spacing) * 1);
}

.mb-1 {
    margin-bottom: calc(var(--spacing) * 1);
}

.ml-1 {
    margin-left: calc(var(--spacing) * 1);
}

.mt-2 {
    margin-top: calc(var(--spacing) * 2);
}

.mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
}

.mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
}

.ml-2 {
    margin-left: calc(var(--spacing) * 2);
}

.mr-1 {
    margin-right: calc(var(--spacing) * 1);
}

.mt-3 {
    margin-top: calc(var(--spacing) * 3);
}

.mt-4 {
    margin-top: calc(var(--spacing) * 4);
}


.pl-2 {
    padding-left: calc(var(--spacing) * 2);
}

.pr-1 {
    padding-right: calc(var(--spacing) * 1);
}

.py-4 {
    padding-top: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 4);
}

.py-2 {
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
}

.py-1 {
    padding-top: calc(var(--spacing) * 1);
    padding-bottom: calc(var(--spacing) * 1);
}

.px-1 {
    padding-left: calc(var(--spacing) * 1);
    padding-right: calc(var(--spacing) * 1);
}

.px-8 {
    padding-left: calc(var(--spacing) * 8);
    padding-right: calc(var(--spacing) * 8);
}


.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.text-align-left {
    text-align: left;
}



.btn-primary {
    background-color: var(--primary);
    color: #fff;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: var(--primary-darker);
    color: #fff;
    border-radius: 4px;
  }

.icon-primary {
    color: var(--primary);
}

.container-input-search {
    border: 2px solid var(--primary);
    border-radius: 4px;
    padding: 10px;
}

.overflow-y-scroll {
    overflow-y: scroll;
    height: 80vh;
}

::-webkit-scrollbar {
    width: 8px;
    padding-left: calc(var(--spacing) * 1);
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style-type: none;
}

.container-input-search i {
    color: var(--primary);
    font-size: 20px;
}

.input-search {
    font-size: 16px;
    border: none;
    outline: none;
}

.icon-button {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 100%;
}

.icon-button:hover {
    background-color: var(--secondary);
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 100%;
}

.txt-size-huge {
    font-size: 64px;
}

.txt-size-large {
    font-size: 20px;
}